-- SQL para insertar información detallada de materiales en website_materials
-- (si existe esta tabla para mostrar información en el sitio web)

-- Primero limpiar datos existentes si es necesario
-- DELETE FROM website_materials;

-- Insertar información detallada de materiales

-- Si también quieres actualizar la tabla materials con costos más realistas:
UPDATE materials SET cost_per_unit = 25.00 WHERE name = 'Plata 925';
UPDATE materials SET cost_per_unit = 8.00 WHERE name = 'Acero Blanco';
UPDATE materials SET cost_per_unit = 10.00 WHERE name = 'Acero Dorado';
UPDATE materials SET cost_per_unit = 12.00 WHERE name = 'Acero Quirúrgico';
UPDATE materials SET cost_per_unit = 15.00 WHERE name = 'Laminado en Plata';
