-- Agregar columnas necesarias a la tabla materials
ALTER TABLE materials ADD COLUMN IF NOT EXISTS title VARCHAR(255);
ALTER TABLE materials ADD COLUMN IF NOT EXISTS description TEXT;
ALTER TABLE materials ADD COLUMN IF NOT EXISTS image_url TEXT;
ALTER TABLE materials ADD COLUMN IF NOT EXISTS is_active BOOLEAN DEFAULT true;
ALTER TABLE materials ADD COLUMN IF NOT EXISTS display_order INTEGER DEFAULT 0;

-- Limpiar datos existentes
DELETE FROM materials;

-- Insertar los materiales con información detallada

-- También actualizar materials_content con los datos correctos
DELETE FROM materials_content;

